
<h1>Panel de Administración</h1>
<p>admin works!</p>

<!-- <div>
    <ul>
      <li>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Página Principal => Home</a>
      </li>
      <li>
        <a [routerLink]="['/home/contact']" routerLinkActive="router-link-active" >Página Contátenos => Contact</a>
      </li>
      <li>
        <a [routerLink]="['/admin']" routerLinkActive="router-link-active" > Tablero Admin => Dashboard </a>
      </li>
      <li>
        <a [routerLink]="['/admin/users']" routerLinkActive="router-link-active" > Usuarios Admin => Users </a>
      </li>
    </ul>
  </div> -->


<!-- Menú de Bootstrap -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="router-link-active" >Página Principal => Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" [routerLink]="['/home/contact']" routerLinkActive="router-link-active" >Página Contátenos => Contact</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Tablero Admin => Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/users']" routerLinkActive="router-link-active" >Usuarios Admin => Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>

<router-outlet></router-outlet>

<!-- <br><br>
<h4>
    Contenido después del router-outlet
    <br> por ejemplo un footer => pie de Página...
</h4> -->
